@model Latest_News.Models.Categories

@{
    ViewData["Title"] = "Delete";
}

<br>
<br>
<div class="container">
    <div class="row">

        <div class="col-md-10">
            <h4 class="alert alert-danger">
                Are you sure you want to Delete this?
            </h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.cat_Nom)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.cat_Nom)
                </dd>
                <dt>
                    Image
                </dt>
                <dd>
                    <img src="~/Image_Cat/@Model.img" style="width:260px;height:260px;border-radius:50%">
                </dd>
            </dl>

            <form asp-action="Delete" style="padding-bottom:30px">
                <input type="submit" value="Delete" class="genric-btn danger circle arrow" /> |
                <a asp-action="Index" class="genric-btn danger-border circle arrow">Back to List</a>
            </form>
        </div>
    </div>
</div>

