@model Latest_News.ViewModel.Change_Password

@{
    ViewData["Title"] = "changePassword";
}

<br>

<br>
<div class="container">
    <div class="row">
      
        <div class="col-md-10">
            <h4 class="alert alert-info">Change Password</h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="newPassword" class="control-label"></label>
                    <input asp-for="newPassword" class="form-control" />
                    <span asp-validation-for="newPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ComparePassword" class="control-label"></label>
                    <input asp-for="ComparePassword" class="form-control" />
                    <span asp-validation-for="ComparePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change" class="genric-btn success circle arrow" />
                    <a asp-action="Index" class="genric-btn success-border circle arrow">
                        Annuler<span class="lnr lnr-arrow-right"></span>
                    </a>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>