@model Latest_News.ViewModel.NewsViewModels

@{
    ViewData["Title"] = "Edit";
}
<br>
<br>
<div class="container">
    <div class="row">

        <div class="col-md-10">
            <h4 class="alert alert-info">
                Are you sure you want to Edit this?
            </h4>
            <hr />
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="id" class="control-label"></label>
                    <input asp-for="id" readonly class="form-control" />
                    <span asp-validation-for="id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="url" class="control-label"></label>
                    <input asp-for="url" class="form-control" />
                    <span asp-validation-for="url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Titre" class="control-label"></label>
                    <input asp-for="Titre" class="form-control" />
                    <span asp-validation-for="Titre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea name="Description" asp-for="Description" rows="15" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
               
                <div class="input-group-icon mt-10">
                    <div class="form-select" id="default-select">
                        Catégories
                        <br>
                        <select asp-for="id_Cat" class="form-control" asp-items="@(new SelectList(Model.GetCategories,"id","cat_Nom"))">
                        </select>
                        <span asp-validation-for="id_Cat" class="text-danger"></span>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">image</label>
                    <br>
                    <br>
                    <img src="~/Image_News/@Model.Image" style="width:260px;height:260px;border-radius:50%">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="file" class="control-label">Upload Image</label>
                    <input type="file" name="file" asp-for="file" class="form-control" />
                    <span asp-validation-for="file" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="genric-btn primary circle arrow" />
                    <a asp-action="Index" class="genric-btn info-border circle arrow">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
